.slide p,
.slide div,
.slide [type="checkbox"]{
    display:block;
}
 
.slide [type="checkbox"]:checked ~ p {
    display:none;

}

.slide [type="checkbox"]:checked ~ div {
    display:none;

}

.slide1 p,
.slide1 div,
.slide1 [type="checkbox"]{
    display:none;
}
 
.slide1 [type="checkbox"]:checked ~ p {
    display:block;

}

.slide1 [type="checkbox"]:checked ~ div {
    display:block;

}