@media screen and (max-width: 1100px) {
    .fon{
        margin-top: 11%;
        zoom: 70%;
        font-size: 2em;
    }
    .fon1{
        zoom: 70%;
        font-size: 2em;
    }
    input[rel="1"]{
        margin-top: 1%;
        zoom: 175%;
    }
    input[rel="2"]{
        zoom: 110%;
    }
    input[rel="3"]{
        zoom: 175%;
    }     
    label[rel="2"]{
        zoom: 175%;
    }
    .fut{
        font-size: 1.5em;
    }
    select[rel="2"]{
        zoom: 180%;
        min-width: 250px;
    }
    h1{
        font-size: 2em;
    }
    button[rel="2"]{
        zoom: 180%;
    }
    div[rel="2"]{
        zoom: 180%;
    }
    img{
        zoom: 145%;
    }
}

@media screen and (min-width: 1100px) {
    .fon{
        margin-top: 3%;}
}
