<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script> var bol = Boolean({{bl}}); </script>
</head>
<body>
    <h1>Вход</h1>
    <p>Заполните поле, чтобы войти или зарегестрироваться.</p>
    <div class = "container">
        <label for="email"><b>Логин</b></label>
    </div>
    <form method="post">
        <input id = 'login' type="text" name = "login" placeholder="Введите логин">
        <input  id="button" type="submit" name="button" value="Далее"/>
        <h2 id = 'go_to_reg1' style = "color: yellow; visibility: hidden"> Вас нет в бд. Вы хотите зарегестрироваться? </h2>
        <input style = "visibility: hidden" onclick = "F()" id='go_to_reg' type = "submit" value = "Зарегаться">
        <script>
            if (bol === true){
                window.location.href = 'history.html';}
        </script>
    </form>
</body> 
        
        