{% extends "base.html" %}
    {% block content %}


    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <ul>
            <li><a href="profile">Профиль</a></li>
            <li><a href="add">Добавить операцию</a></li>
            <li><a href="diagram">Диаграмма расходов</a></li> 
            <li><a href="history">История трат</a></li>
            <li><a href="logout">Выйти</a></li>
        </ul>
    </nav>

    <main role="main">
        <article style="transition: transform .3s; margin-left: 4%; margin-right: 4%; margin-top: 1%; padding: 5px;">
            <header>
                <h1>Главная страница</h1>
                <hr>
            </header>

            <section>
                Последняя операция: {{last_oper}}
                
                {% if img %}
                <hr>

                Статистика за этот месяц: <br>
                <img src="{{ url_for('static', filename='img/' + img)}}", alt="Вы не совершали расходы.">
                {% endif %}
                <hr>

                В прошлом месяце: 
                <ul>
                    <li>
                        Больше всего потратили на {{max_pr_cat}}
                    </li>
                    <li>
                        Самая большая трата {{max_pr}}
                    </li>
                    <li>
                        Чаще всего тратили на {{pop_cat}}
                    </li>
                </ul>
                <hr>
            </section>
            </article>
    </main>
            {% endblock %}