{% extends "base.html" %}
    {% block content %}

    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <ul>
            <li><a href="profile">Профиль</a></li>
            <li><a href="add">Добавить операцию</a></li>
            <li><a href="diagram">Диаграмма расходов</a></li>
            <li><a href="history">История трат</a></li>
            <li><a href="head">Вернуться на главную страницу</a></li>
            <li><a href="logout">Выйти</a></li>
        </ul>
    </nav>

    <main role="main">
        <article style="transition: transform .3s; margin-left: 4%; margin-right: 4%; margin-top: 1%; padding: 5px;">
            <header>
                <h1>История ваших операций</h1>
                <hr>
            </header>

            <section>
                    <label for="filt" style="font-size: xx-large;">
                        <b>Фильтр</b>
                    </label>
                    <div style="width: 30%">
                        <form method="POST">
                            
                            <div class="slide" style="margin-bottom: 2%; margin-top: 2%;" >
                                    <input class="form-check-input" type="checkbox" name = "check" id="vse" value = "True"style="display: inline-block;">
                                    <label for="vse">
                                        Показать все операции
                                    </label>
                                    <div style="margin-top: 2%; margin-bottom: 1%; ">
                                        <div style="font-size: large; font-weight: bold;">Выберите за какой промежуток:</div>
                                        <label for="time1" style="font-size: large;">
                                            Выберите начало периода:
                                        </label>
                                        <input type="date" name="time1" style="margin-bottom: 1%;">
                                        <br>
        
                                        <label for="time2" style="font-size: large;">
                                            Выберите конец периода:
                                        </label>
                                        <input type="date" name="time2" style="margin-bottom: 1%;">
                                        <br>
                                    </div>
                            </div>
                            <div>
                                <div style="font-size: large; font-weight: bold;">
                                    Укажите ограничение по величине операции:
                                </div>

                                <label for="min" style="font-size: large;">Введите минимум:</label>
                                <input type="number" name="min" style="margin-bottom: 1%;">
                                <br>

                                <label for="max" style="font-size: large;">Введите максимум:</label>
                                <input type="number" name="max">
                            </div>

                            <input class="btn btn-primary btn-sm" type="submit" name = "history" value="Подтвердить" style="margin-top: 2%;">
                        </form>
                    </div>
                <hr>
                <a href="{{ url_for('static', filename = 'resources/' + xlx)}}" download=""  class="btn btn-primary btn-sm">
                    <input class="btn btn-primary btn-sm" type="submit" name = "xlx_history" value="Скачать excel вариант">
                </a>
                <hr>
                <form method="POST">
                <input class="btn btn-primary btn-sm" type="submit" name = "del_history" value="Удалить выбранные операции">
                <input class="btn btn-primary btn-sm" type="submit" name = "base" value="Сделать выбранную операцию базовой">
                <input class="btn btn-primary btn-sm" type="submit" name = "del_base" value="Отменить выбранную операцию">
                <hr>
                <div class="list-group">
                {% for mes_oper, id in oper %}
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" name="{{id}}">
                    {{mes_oper}}
                </label>
                {% endfor %}
                </div>
                </form>
            </section>

        </article>
    </main>
    {% endblock %}