{% extends "base.html" %}
    {% block content %}

    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <ul>
            <li><a href="profile">Профиль</a></li>
            <li><a href="add">Добавить операцию</a></li>
            <li><a href="diagram">Диаграмма расходов</a></li>
            <li><a href="history">История трат</a></li>
            <li><a href="head">Вернуться на главную страницу</a></li>
            <li><a href="logout">Выйти</a></li>
        </ul>
    </nav>

    <main role="main">
        <article style="transition: transform .3s; margin-left: 4%; margin-right: 4%; margin-top: 1%; padding: 5px;">
            <header>
                <h1>История ваших операций</h1>
                <hr>
            </header>

            <section>
                <div class="slide">
                    <label for="filt" class="btn btn-secondary btn-sm">
                        Фильтр
                    </label>
                    <input type="checkbox" id="filt">
                    <div style="width: 30%">
                        <form method="POST">

                            <label for="time"><b>За какое время</b></label>
                                <select name="time" class="form-select">
                                    <option>Неделя</option>
                                    <option>Месяц</option>
                                    <option>3 Месяца</option>
                                </select>
                            <br>

                            <label for="kol"><b>Выберите количество операций</b></label>
                            <br>
                            <input name="kol" type="number">
                            <br>

                            <label for="sum"><b>Выберите мин и макс денег</b></label>
                            <br>
                            <input name="sum" type="range" min="-10000000000000000" max="10000000000000000" step="10" multiple>
                            <br>

                            <input class="btn btn-primary btn-sm" type="submit" value="Подтвердить">
                        </form>
                    </div>
                </div>
                <a href="{{ url_for('static', filename = 'resources/' + xlx)}}" download="" class="btn btn-primary btn-sm">
                    <input class="btn btn-primary btn-sm" type="submit" value="Скачать excel вариант">
                </a>
                <hr>
                {% for date, cat, price in oper %}
                <div>
                    <ul>
                    <li>{{date}} - {{cat}} - {{price}}</li>
                    </ul>
                </div>
                {% endfor %}
            </section>

        </article>
    </main>
    {% endblock %}