<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Вход</h1>
    <form method="post">
        <legend>Заполните поле, чтобы войти.</legend>
        <label for="email"><b>Логин</b></label>
        <input id = 'login' type="text" name = "login" placeholder="Введите логин">
        <label for="email"><b>Пароль</b></label>
        <input type="text" name = "password" placeholder="Введите пароль">
        <input type="submit" name="enter" value="Войти"/>
        <h2 style = "color: red; visibility: hidden">Неправильный пароль</h2>
    </form>
</body> 