<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="for_login.js"></script>
</head>
<body>
    <h1>Вход</h1>
    <p>Здорово. Вы уже зарегестрированы в спермобанке. Введите пароль.</p>
    <div class = "container">
        <label for="email"><b>Пароль</b></label>
    </div>
        <input id = 'text' type="text" placeholder="Введите пароль">
        <input onclick = "X()"id="button" type="submit" name="button" value="Далее"/>
    <h2 id = 'Error' style = "color: red; visibility: hidden">Неправильный пароль</h2>
        
        