<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="registration.js"></script>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="post">
        <legend>Придумайте логин и пароль и заполните, чтобы зарегистрироваться.</legend>
        <label for="email"><b>Логин</b></label>
        <input id = 'login' type="text" name = "login" placeholder="Придумайте логин">
        <label for="email"><b>Пароль</b></label>
        <input type="text" placeholder="Придумайте пароль" name="password1">
        <input type="text" placeholder="Повторите пароль" name="password2">
        <input type="submit" name="log" value="Зарегистрироваться"/>
        <h2 style = "color: red; visibility: hidden">Пароли не совпадают.</h2>
    </form>