{% extends "base.html" %}
    {% block content %}

    <input type="checkbox" id="nav-toggle" hidden>
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick></label>
        <ul>
            <li><a href="profile">Профиль</a></li>
            <li><a href="add">Добавить операцию</a></li>
            <li><a href="diagram">Диаграмма расходов</a></li>
            <li><a href="history">История трат</a></li>
            <li><a href="head">Вернуться на главную страницу</a></li>
            <li><a href="logout">Выйти</a></li>
        </ul>
    </nav>

    <main role="main">
        <article style="transition: transform .3s; margin-left: 4%; margin-right: 4%; margin-top: 1%; padding: 5px;">
            <header>
                <h1>История ваших операций</h1>
                <hr>
            </header>

            <section>
                    <label for="filt" style="font-size: xx-large;" rel="2">
                        <b>Фильтр</b>
                    </label>
                    <div style="width: 30%">
                        <form method="POST">

                            <div class="slide" style="margin-bottom: 2%; margin-top: 2%;" >
                                    <input class="form-check-input" type="checkbox" name = "check" id="vse" value = "True" style="display: inline-block;">
                                    <label for="vse">
                                        Показать операции за все время
                                    </label>
                                    <div style="margin-top: 2%; margin-bottom: 1%; ">
                                        <div style="font-size: large; font-weight: bold;" rel="2">Выберите за какой промежуток:</div>
                                        <label for="time1" style="font-size: large;" rel="2">
                                            Выберите начало периода:
                                        </label>
                                        <input type="date" name="time1" style="margin-bottom: 1%;">
                                        <br>

                                        <label for="time2" style="font-size: large;" rel="2">
                                            Выберите конец периода:
                                        </label>
                                        <input type="date" name="time2" style="margin-bottom: 1%;">
                                        <br>
                                    </div>
                            </div>
                            <div style="margin-top: 2%; margin-bottom: 1%; ">
                                <div style="font-size: large; font-weight: bold;" rel="2">Выберите тип операции:</div>
                                <input class="form-check-input" type="checkbox" id = "vav" name = "prof"  value = "+" style="display: inline-block;">
                                <label for="vav">
                                    Прибыль
                                </label>
                                <br>
                                <div class="slide2" style="margin-bottom: 2%; margin-top: 2%;" >
                                    <input class="form-check-input" type="checkbox" name = "ex" id="vave" value = "-" style="display: inline-block;">
                                    <label for="vave">
                                        Трата
                                    </label>
                                    <div class="box">
                                        <div class="slide3" style="margin-bottom: 2%; margin-top: 2%; " >
                                            <input class="form-check-input" type="checkbox" name = "all" id="vavee" value = "True" style="display: inline-block;">
                                            <label for="vavee">
                                                Все категории
                                            </label>
                                            <div style="margin-top: 2%; margin-bottom: 1%; ">
                                                <div style="font-size: large; font-weight: bold;" rel="2">Выберите категорию</div>
                                                <label>
                                                    <input class="form-check-input" type="checkbox" name = "ex1" id="Супермаркеты" value = "Супермаркеты" style="display: inline-flex;">
                                                    <label for="Супермаркеты">
                                                        Супермаркеты
                                                    </label>
                                                </label>
                                                <label>
                                                    <input class="form-check-input" type="checkbox" name = "ex2" id="Развлечения" value = "Развлечения" style="display: inline-flex;">
                                                    <label for="Развлечения">
                                                        Развлечения
                                                    </label>
                                                </label>
                                                <label>
                                                    <input class="form-check-input" type="checkbox" name = "ex3" id="Рестораны" value = "Рестораны" style="display: inline-flex;">
                                                    <label for="Рестораны">
                                                        Рестораны
                                                    </label>
                                                </label>
                                                <label>
                                                    <input class="form-check-input" type="checkbox" name = "ex4" id="Переводы" value = "Переводы" style="display: inline-flex;">
                                                    <label for="Переводы">
                                                        Переводы
                                                    </label>
                                                </label>
                                                <label>
                                                    <input class="form-check-input" type="checkbox" name = "ex5" id="Аптеки" value = "Аптеки" style="display: inline-flex;">
                                                    <label for="Аптеки">
                                                        Аптеки
                                                    </label>
                                                </label>
                                                <label>
                                                    <input class="form-check-input" type="checkbox" name = "ex6" id="Транспорт" value = "Транспорт" style="display: inline-flex;">
                                                    <label for="Транспорт">
                                                        Транспорт
                                                    </label>
                                                </label>
                                                <label>
                                                    <input class="form-check-input" type="checkbox" name = "ex7" id="Дом" value = "Дом" style="display: inline-flex;">
                                                    <label for="Дом">
                                                        Дом
                                                    </label>
                                                </label>
                                                <label>
                                                    <input class="form-check-input" type="checkbox" name = "ex8" id="Одежда" value = "Одежда" style="display: inline-flex;">
                                                    <label for="Одежда">
                                                        Одежда
                                                    </label>
                                                </label>
                                                <label>
                                                    <input class="form-check-input" type="checkbox" name = "ex9" id="Такси" value = "Такси" style="display: inline-flex;">
                                                    <label for="Такси">
                                                        Такси
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </div>
                            <div>
                                <div style="font-size: large; font-weight: bold;" rel="2">
                                    Укажите ограничение по величине операции:
                                </div>

                                <label for="min" style="font-size: large;" rel="2">Введите минимум:</label>
                                <input type="number" name="min" style="margin-bottom: 1%;">
                                <br>

                                <label for="max" style="font-size: large;" rel="2">Введите максимум:</label>
                                <input type="number" name="max">
                            </div>

                            <input class="btn btn-primary btn-sm" type="submit" name = "history" value="Подтвердить" style="margin-top: 2%;" rel="3">
                        </form>
                    </div>
                <hr>
                <a href="{{ url_for('static', filename = 'resources/' + xlx)}}" download=""  class="btn btn-primary btn-sm">
                    <input class="btn btn-primary btn-sm" type="submit" name = "xlx_history" value="Скачать excel вариант" rel="3">
                </a>
                <hr>
                <form method="POST">
                    <input class="btn btn-primary btn-sm" type="submit" name = "del_history" value="Удалить выбранные операции" rel="1">
                    <input class="btn btn-primary btn-sm" type="submit" name = "base" value="Сделать выбранную операцию базовой" rel="1">
                    <input class="btn btn-primary btn-sm" type="submit" name = "del_base" value="Отменить базовую операцию" rel="1">
                    <hr>
                    {% if base %}
                    {{base[0]}}
                    Эта операция выбрана базовой
                    {% else %}
                    Базовая операция не выбрана
                    {% endif %}
                    <hr>
                    {% if oper %}
                    <div style="font-size: large; font-weight: bold;" rel="2">
                        История операций:
                    </div>
                        <div class="list-group">
                        {% for mes_oper, id in oper %}
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" name="{{id}}" value="{{id}}">
                            {{mes_oper}}
                        </label>
                        {% endfor %}
                        {% endif %}
                    </div>
                </form>
            </section>

        </article>
    </main>
    {% endblock %}
